* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}

#head {
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.6);
    align-items: center;
    position: relative;
}

#logo {
    font-size: 65px;
    color: wheat;
    text-align: center;

}
#img-logo {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin: 0 20px;
}
#img-telephone {
    width: 20px;
}
#phone {
    display: flex;
    align-items: center;
    justify-content: center;
}
#phone a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#phone a:hover{
    background-color: rgb(198, 198, 245);
}
#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10%;
}
#links a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 20px ;
    text-transform: uppercase;
    margin-left: 3px;
}
#links a:first-child{
    background-color: blue;
    border-radius: 10px;
}
#links a:first-child:hover{
    background-color: white;
    color: blue;
}
#links a:last-child{
    background-color: green;
    border-radius: 10px;
}
#links a:last-child:hover {
    background-color: white;
    color: green;
}

#container {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;


}
#head #name {
    display: flex;
}

#preview {
    max-width: 80%;
    max-height: 100vh;
}

#preview img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


#thumbnails img:hover {
    transform: scale(1.1);
}

#thumbnails {
    max-width: 30%;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main {
    margin-bottom: 20px;
}
#thumbnails img {
    width: 45%;
    height: calc(100% / 3);
    border-radius: 10px;
}

img {
    cursor: pointer;
}
footer{
    height: 40px;
    background-color: rgba(0, 0, 0,0.5 );
}
footer p{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(245, 222, 179, 0.808);
    text-align: center;

}
@media (max-width: 950px) {
    #head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 450px) {
    body {
        overflow-x: hidden;
    }

    #head #logo {
        font-size: 30px;
        font-weight: 900;

    }

    #head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #links a{
        font-size: 16px;
        text-decoration: none;
        color: white;
        padding: 2.5px 10px ;
        text-transform: lowercase;
    }
    #phone a{
        margin-bottom: 10px;
        font-size: 16px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 2.5px 10px ;
        text-transform: lowercase;
    }

    #img-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #preview img {
        max-width: 100%;
        margin-left: 35px;
    }

    #container {
        display: block;
    }
    #thumbnails {
        margin: 20px 0;
        max-width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #thumbnails img {
        max-width: calc(100%  / 5);
        height: 100px;
    }
}
hr {
    border: 2px solid wheat;
    max-width: 90%;
    margin: auto;
    margin-top: -19px;
    border-radius: 10px;
    box-shadow: wheat 1px 3px 13px;

}
#footer {
    border: 2px solid wheat;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: wheat 3px 3px 25px;
}
